body {
<<<<<<< HEAD
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
=======
	height: 100%;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
>>>>>>> c6205d125ad2801cf4a04f3896407ea5b66fb0e0
}
